<section id="bikes" class="max-w-[1300px] mx-auto mb-20 space-y-20">
  <h1 class="text-4xl font-bold text-center mb-3">BICICLETAS</h1>

  <div class="flex gap-10 flex-col md:flex-row">
    <div
      class="w-[95vw] max-w-[400px] aspect-square border-2 border-foreground/60 rounded-xl overflow-hidden"
    >
      <img
        src="https://res.cloudinary.com/doaywtxph/image/upload/v1753908216/CIclosMelillaCB/bike_mountain.webp"
        alt="Bicicleta de montaña"
        class="w-full h-full object-cover"
      />
    </div>

    <div>
      <h2 class="text-3xl font-bold mb-2">Bicicleta de montaña</h2>

      <p class="text-lg font-medium">
        Las bicicletas de montaña Specialized son sinónimo de tecnología
        avanzada, rendimiento en cualquier terreno y diseño de precisión.
        Diseñadas para riders exigentes, cada modelo está optimizado para
        ofrecer máximo control, eficiencia y durabilidad en rutas técnicas,
        descensos agresivos o ascensos prolongados.
      </p>
    </div>
  </div>
  
  <div class="flex gap-10 flex-col md:flex-row">
    <div>
      <h2 class="text-3xl font-bold mb-2">Bicicleta de montaña</h2>
      
      <p class="text-lg font-medium">
        Las bicicletas de montaña Specialized son sinónimo de tecnología
        avanzada, rendimiento en cualquier terreno y diseño de precisión.
        Diseñadas para riders exigentes, cada modelo está optimizado para
        ofrecer máximo control, eficiencia y durabilidad en rutas técnicas,
        descensos agresivos o ascensos prolongados.
      </p>
    </div>
    
    <div
      class="w-[95vw] max-w-[400px] aspect-square border-2 border-foreground/60 rounded-xl overflow-hidden"
    >
      <img
        src="https://res.cloudinary.com/doaywtxph/image/upload/v1753908216/CIclosMelillaCB/bike_mountain.webp"
        alt="Bicicleta de montaña"
        class="w-full h-full object-cover"
      />
    </div>
  </div>
  
  <div class="flex gap-10 flex-col md:flex-row">
    <div
      class="w-[95vw] max-w-[400px] aspect-square border-2 border-foreground/60 rounded-xl overflow-hidden"
    >
      <img
        src="https://res.cloudinary.com/doaywtxph/image/upload/v1753908216/CIclosMelillaCB/bike_mountain.webp"
        alt="Bicicleta de montaña"
        class="w-full h-full object-cover"
      />
    </div>

    <div>
      <h2 class="text-3xl font-bold mb-2">Bicicleta de montaña</h2>

      <p class="text-lg font-medium">
        Las bicicletas de montaña Specialized son sinónimo de tecnología
        avanzada, rendimiento en cualquier terreno y diseño de precisión.
        Diseñadas para riders exigentes, cada modelo está optimizado para
        ofrecer máximo control, eficiencia y durabilidad en rutas técnicas,
        descensos agresivos o ascensos prolongados.
      </p>
    </div>
  </div>
  
  <div class="flex gap-10 flex-col md:flex-row"> 
    <div>
      <h2 class="text-3xl font-bold mb-2">Bicicleta de montaña</h2>

      <p class="text-lg font-medium">
        Las bicicletas de montaña Specialized son sinónimo de tecnología
        avanzada, rendimiento en cualquier terreno y diseño de precisión.
        Diseñadas para riders exigentes, cada modelo está optimizado para
        ofrecer máximo control, eficiencia y durabilidad en rutas técnicas,
        descensos agresivos o ascensos prolongados.
      </p>
    </div>

    <div
      class="w-[95vw] max-w-[400px] aspect-square border-2 border-foreground/60 rounded-xl overflow-hidden"
    >
      <img
        src="https://res.cloudinary.com/doaywtxph/image/upload/v1753908216/CIclosMelillaCB/bike_mountain.webp"
        alt="Bicicleta de montaña"
        class="w-full h-full object-cover"
      />
    </div>
  </div>
</section>
