---
import Location from "./Location.astro";
import WhatsApp from "../icons/WhatsApp.astro";
import Facebook from "../icons/Facebook.astro";
import Instagram from "../icons/Instagram.astro";
import ContactForm from "./ContactForm.astro";
---

<section id="contact" class="relative mb-20 mt-10 pt-10 z-5 space-y-5">
  <div class="text-center">
    <h1 class="text-3xl font-bold text-center mb-3">VISÍTANOS</h1>
    <p class="text-lg">Ctra. Huerta Cabo, 1, Local 2, 52006 Melilla</p>
    <p class="text-lg">
      Teléfono: <a
        href="tel:+34639121250"
        class="text-blue-500 hover:underline">639121250</a
      >
    </p>

      <div class="mt-4 flex justify-center items-center gap-4">
      <a 
        href="https://wa.me/34639121250" 
        target="_blank" 
        rel="noopener noreferrer" 
        aria-label="Contactar por WhatsApp"
      >
        <WhatsApp />
      </a>
      
      <a 
        href="https://www.facebook.com/p/Ciclos-Melilla-CB-100009821748049/"
        target="_blank" 
        rel="noopener noreferrer"
        aria-label="Visitar Facebook" 
      >
        <Facebook class="h-6 w-6" />
      </a>
      
      <a 
        href="https://www.instagram.com/ciclosmelilla"
        target="_blank" 
        rel="noopener noreferrer"
        aria-label="Visitar Facebook" 
      >
        <Instagram class="h-6 w-6" />
      </a>
    </div>
  </div>

  <div>
    <Location />
  </div>

  <ContactForm />
</section>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  window.addEventListener("DOMContentLoaded", () => {
    const section = document.querySelector("#contact");
    gsap.from(section, {
      scrollTrigger: {
        trigger: section,
        start: "top 75%",
        toggleActions: "play reverse play reverse",
      },
      opacity: 0,
      y: 40,
      duration: 0.6,
      ease: "power2.inOut",
    });
  });
</script>