---
import { getCarousel } from "../../lib/getCarousel";

const images: string[] = await getCarousel();

export const prerender = false;
---

<div class="relative overflow-hidden w-6xl max-w-[99dvw] mx-auto">
  <div class="w-4 h-full bg-gradient-to-r from-black to-transparent absolute left-0 top-0 z-10 pointer-events-none"></div>
  <div class="w-4 h-full bg-gradient-to-l from-black to-transparent absolute right-0 top-0 z-10 pointer-events-none"></div>

  <div id="images-wrapper" class="relative h-60 flex gap-4 select-none w-max">
    <div class="absolute flex gap-4 select-none w-max">
      {
        images.map((image, i) => (
          <img
            src={image}
            class="w-60 h-60 object-cover rounded-lg flex-shrink-0"
            draggable="false"
            alt={"Imagen " + i}
          />
        ))
      }
    </div>
    <div class="absolute flex gap-4 select-none w-max left-[1024px]">
      {
        images.map((image, i) => (
          <img
            src={image}
            class="w-60 h-60 object-cover rounded-lg flex-shrink-0"
            draggable="false"
            alt={"Imagen " + i}
          />
        ))
      }
    </div>
    <div class="absolute flex gap-4 select-none w-max left-[2048px]">
      {
        images.map((image, i) => (
          <img
            src={image}
            class="w-60 h-60 object-cover rounded-lg flex-shrink-0"
            draggable="false"
            alt={"Imagen " + i}
          />
        ))
      }
    </div>
  </div>
</div>

